.Home {
    width: 100%;
    border: 1px solid red;
    text-align: center;
    padding: 2em 0;
    height: 500px;
}

.Sign-In-Button,
.Sign-Up-Button {
    width: 40%;
    padding: 1em 0;
    border: 1px solid red;
}




.Sign-Form {
    width: 80%;
    margin: auto;
    padding: 1em 0;
}

@media only screen and (min-width: 768px) {
    .Home {
        width: 75%;
        margin: auto;
    }
}

.Home-Title {
    height: 50px;
}