.Home {
    width: 100%;
    border: 1px solid red;
    text-align: center;
    padding: 3em 0;
}

.Home-Title {
    padding: 1em 0;
}

.Home-Toggle {
    padding: 1em 0;
}

.Home-Toggle>a {
    text-decoration: none;
    color: white;
    padding: 1em 2em;
    border: 1px solid red;
}






.Sign-Form {
    width: 80%;
    margin: auto;
    padding: 1em 0;
}

@media only screen and (min-width: 768px) {
    .Home {
        width: 75%;
        margin: auto;
    }

    .Home-Toggle>a {
        padding: 1em 4em;
    }
}